# INFNET — Ciclo Base (pastas ainda não versionadas)
06-INFNET/Ciclo Base/Python Para Processamento de Dados/
06-INFNET/Ciclo Base/SQL e Modelagem Relacional/

# INFNET — Eletivas (pastas de aulas locais)
06-INFNET/Eletivas/Algoritmos de sistemas de recomendação para plataformas de streaming/aulas/
06-INFNET/Eletivas/Matemática para Inteligência Artificial e Ciência de Dados - Álgebra Linear/aulas/
